<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    </ol>

<ol>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>GGplot</li>
    </ol>

| Data Science Tools |
| ------------------ |
| Jupiter Notebook   |
| RStudio            |
| Jupiter Lab        |

### Below are a few examples of evaluating arithmetic expressions in Python
<li>c=a+b</li>
<li>c=a-b</li>
<li>c=a*b</li>
<li>c=a/b</li>

In [3]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [4]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

 **Objectives:**
 In this course I learned how to use data science tools such as Jupiter notebook with some kernals and know how to use R Studio with some packages for data visualization like GGplot2 . And know more about Version control like git and github.
 <li>Python</li>
  <li>R</li>
   <li>SQL</li>

**Author :**
<br>Srivatsan S